{% extends "template.html" %}
{% block conteudo %}
<a class="btn btn-primary" href="{{url_for('novo'}}">Novo Funcionário</a>
        <table class="table table-striped table-responsive table-bordered">
            <thead class="theard-default">
                <tr>
                    <th>Nome</th>
                    <th>Cargo</th>
                    <th>Setor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for funcionario in funcionarios %}
                <tr>
                    <td>{{ funcionario.nome }}</td>
                    <td>{{ funcionario.cargo }}</td>
                    <td>{{ funcionario.setor }}</td>
                    <td>
                        <a href="{{url_for('editar', id=funcionario.id) }}">Editar</a></td>
                        <a href="{{url_for('deletar', id=funcionario.id) }}">Deletar</a></td>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}